.codeblock .content pre {
    font-family: "JuliaMono", "Roboto Mono", "SFMono-Regular", "Menlo", "Consolas",
        "Liberation Mono", "DejaVu Sans Mono", monospace;
}

.codeblock pre.documenter-example-output {
    line-height: 125%;
}

.codeblock span.sgr1 {
    font-weight: bolder;
}

.codeblock span.sgr2 {
    font-weight: lighter;
}

.codeblock span.sgr3 {
    font-style: italic;
}

.codeblock span.sgr4 {
    text-decoration: underline;
}

.codeblock span.sgr7 {
    color: #fff;
    background-color: #222;
}

.codeblock.theme--documenter-dark span.sgr7 {
    color: #1f2424;
    background-color: #fff;
}

.codeblock span.sgr8,
.codeblock span.sgr8 span,
.codeblock span span.sgr8 {
    color: transparent;
}

.codeblock span.sgr9 {
    text-decoration: line-through;
}


.codeblock span.sgr30 {
    color: #111;
}

.codeblock span.sgr31 {
    color: #944;
}

.codeblock span.sgr32 {
    color: #073;
}

.codeblock span.sgr33 {
    color: #870;
}

.codeblock span.sgr34 {
    color: #15a;
}

.codeblock span.sgr35 {
    color: #94a;
}

.codeblock span.sgr36 {
    color: #08a;
}

.codeblock span.sgr37 {
    color: #ddd;
}

.codeblock span.sgr40 {
    background-color: #111;
}

.codeblock span.sgr41 {
    background-color: #944;
}

.codeblock span.sgr42 {
    background-color: #073;
}

.codeblock span.sgr43 {
    background-color: #870;
}

.codeblock span.sgr44 {
    background-color: #15a;
}

.codeblock span.sgr45 {
    background-color: #94a;
}

.codeblock span.sgr46 {
    background-color: #08a;
}

.codeblock span.sgr47 {
    background-color: #ddd;
}

.codeblock span.sgr90 {
    color: #888;
}

.codeblock span.sgr91 {
    color: #d57;
}

.codeblock span.sgr92 {
    color: #2a5;
}

.codeblock span.sgr93 {
    color: #d94;
}

.codeblock span.sgr94 {
    color: #08d;
}

.codeblock span.sgr95 {
    color: #b8d;
}

.codeblock span.sgr96 {
    color: #0bc;
}

.codeblock span.sgr97 {
    color: #eee;
}


.codeblock span.sgr100 {
    background-color: #888;
}

.codeblock span.sgr101 {
    background-color: #d57;
}

.codeblock span.sgr102 {
    background-color: #2a5;
}

.codeblock span.sgr103 {
    background-color: #d94;
}

.codeblock span.sgr104 {
    background-color: #08d;
}

.codeblock span.sgr105 {
    background-color: #b8d;
}

.codeblock span.sgr106 {
    background-color: #0bc;
}

.codeblock span.sgr107 {
    background-color: #eee;
}