
// adapted from Documenter.jl's colorscheme
// https://github.com/JuliaDocs/Documenter.jl/blob/master/assets/html/scss/highlightjs/default.css
.julia {
    color: #444;

    .Integer, .String, .\" {
        color: #880000
    }
    .Symbol {
        color: #BC6060
    }
    // .hljs-meta
    .MacroName, .\@ {
        color: #4d99bf;
    }

    .Comment {
        color: #888888;
    }

    // keyword
    .using .using,
    .end,
    .struct > .struct,
    .for > .for,
    .in,
    .function > .function,
    .abstract > .abstract,
    .type,
    .module > .module,
    .begin,
    .import .import,
    .where > .where {
        font-weight: 500;
    }
    .block {
        display: inline;
    }
    /*&> .NewlineWs {
        display: none;
    }*/
    &> .function, &> .const, &> .struct, &> .abstract, &> .\=,
    &> .macrocall > .function, &> .macrocall > .const, &> .macrocall > .struct, &> .macrocall > .abstract, &> .macrocall > .\= {
        @apply p-1 -m-1 border-l-2 border-gray-50;
        display: block;

        &:hover {
            @apply  bg-gray-100 rounded-md;
        }
    }
    .core_\@doc + .string {
        display: none;
    }
    //hljs-builtin
    .DECLARATION .IDENTIFIER:last-child, .ISSUBTYPE > .ISSUBTYPE {
        color: #397300;
    }
    //.hljs-literal
    .TRUE, .FALSE {
        color: #78A960;
    }

    .LPAREN, .RPAREN, .LBRACE, .RBRACE {
        color: gray;
    } 
}