/*
Styles to apply to basic typographic tag in any document viewer.
These should be valid irrespective of static/interactive viewer.
*/

.markdown {

	@apply px-2;

	h1:first-child {
		@apply sticky flex flex-row items-center top-0 bg-white px-4 py-1 h-14 mx-auto -mx-4 mb-3 backdrop-blur-sm bg-opacity-80 border-b border-gray-100 z-10;
	}
	/* Headings */
	h1 {
		@apply text-2xl font-header pb-2 font-bold;
	}
	h1:first-child {
		@apply mt-0;
	}
	img {
		@apply shadow-md my-6 border;
	}
	h2 {
		@apply font-header text-xl font-bold mt-8 mb-1 text-gray-800;
	}
	h3 {
		@apply font-header text-lg mt-5 mb-1 text-gray-800;
	}
	h2 + h3 {
		@apply mt-4;
	}
	h1 + h2 {
		@apply mt-2;
	}
	/* Typography */
	strong {
		@apply font-bold;
	}
	p {
		@apply mb-2 text-gray-900;
	}
	blockquote {
		@apply p-4 text-gray-600;
	}
	/* Lists */
	ul {
		@apply pl-6 pr-6 mt-4 mb-4;
		list-style: circle;
	}

	ol {
		@apply pl-6 pr-6 mt-4 mb-4;
		list-style: decimal;
	}

	li > p {
		@apply mb-2;
	}
	/* Code */
	.codeinline {
		font-size: 0.82rem;
		@apply bg-gray-100 pl-1 pr-1 p-0.5 rounded-sm;
	}
	.codeblock .codeinline {
		background-color: inherit;
	}
	.codeblock {
		@apply my-3 p-2 rounded-md bg-gray-50 overflow-auto border-gray-200;
		border-width: 1px;
		line-height: 1.4;
		font-size: 0.82rem;
	}
	.linenumber {
		@apply text-gray-600 bg-gray-50 border-gray-200;
		font-size: 0.6rem;
	}
	.linenumbers {
		@apply text-right pr-2;
		width: 1.3rem;
	}
	h3 .codeinline {
		@apply text-base;
	}
	h2 .codeinline {
		@apply text-xl;
	}

	hr {
		@apply my-8;
	}


	/* Tables */
	table {
		@apply table-fixed text-sm text-left text-gray-800 border-l border-r border-gray-200 m-2;

		caption {
			@apply text-lg px-2 py-1 font-bold bg-gray-50 text-gray-700 border border-b-0 border-gray-200;
		}

		thead {
			@apply bg-gray-50 border-b;

			tr {
				@apply text-gray-700 text-sm;
			}
			tr.subheader {
				@apply text-gray-500 normal-case;
			}
			th {
				@apply px-2;
			}
			@apply py-1;
		}
		tbody {
			td {
				@apply border-b px-2 py-1 align-middle;

				.markdown {
					@apply m-0 text-sm;
					width: max-content;
					max-width: 300px;

					code {
						@apply text-xs;
					}

					p {
						@apply mb-0;
					}
					> br:last-child {
						display: none;
					}
				}
			}
		}
	}

	&.sourcefile {
		pre.codeblock {
			@apply border-none -ml-3 -mr-3 p-3 rounded-none;
		}
	}

	.admonition {
		@apply my-4 border-gray-200 shadow-sm text-gray-600 text-sm;
		border-width: 1px;
	}

	.admonitiontitle {
		@apply text-gray-800 pt-1 pb-1 p-2 bg-gray-100 flex flex-row items-center text-base;
	}

	.admonitiontitle .icon {
		@apply inline mr-2;
	}

	.admonitionbody {
		@apply text-gray-600 text-sm p-2;
	}

	.admonitionbody :last-child {
		@apply mb-0;
	}

	.admonition.note {
		@apply border-bluegray-300;
	}

	.admonition.note .admonitiontitle {
		@apply bg-bluegray-200 text-bluegray-600;
	}

	.admonition.warning {
		@apply border-amber-200;
	}

	.admonition.warning .admonitiontitle {
		@apply bg-amber-100 text-amber-800;
	}
}

.small .markdown {
	@apply text-sm;
	h1 {
		@apply text-xl pb-2;
	}
	h2 {
		@apply text-lg mt-5;
	}
	h3 {
		@apply text-base mt-5;
	}
	p {
		@apply mb-1.5;
	}
	ul {
		@apply mt-3 mb-3;
	}
	hr {
		@apply my-4;
	}

	.codeinline {
		font-size: 0.75rem;
		line-height: 0.75;
	}

	.codeblock {
		font-size: 0.75rem;
		@apply p-1.5
	}
	.admonition {
		@apply my-3;
		.admonitiontitle {
			@apply text-sm
		}
		.admonitionbody {
			@apply text-xs;
		}
	}
}

/* Admonitions */
