/*
Styles to apply to basic typographic tag in any document viewer.
These should be valid irrespective of static/interactive viewer.
*/

.markdown {
	/* Headings */
	h1 {
		@apply text-2xl font-header pb-2 font-bold;
	}
	h1:first-child {
		@apply mt-0;
	}
	h2 {
		@apply font-header text-xl mt-8 mb-1 text-gray-800;
	}
	h3 {
		@apply font-header text-lg mt-5 mb-1 text-gray-800;
	}
	h2 + h3 {
		@apply mt-2;
	}
	h1 + h2 {
		@apply mt-2;
	}
	/* Typography */
	strong {
		@apply font-bold;
	}
	p {
		@apply mb-2 text-gray-900;
	}
	blockquote {
		@apply p-4 text-gray-600;
	}
	/* Lists */
	ul {
		@apply pl-6 pr-6 mt-4 mb-4;
		list-style: circle;
	}

	ol {
		@apply pl-6 pr-6 mt-4 mb-4;
		list-style: decimal;
	}

	li > p {
		@apply mb-2;
	}
	/* Code */
	.codeinline {
		font-size: 0.82rem;
		@apply bg-gray-100 pl-1 pr-1 p-0.5 rounded-sm;
	}
	.codeblock .codeinline {
		background-color: inherit;
	}
	.small.codeinline {
		font-size: 0.75rem;
		line-height: 0.75;
	}
	.codeblock {
		@apply mt-3 mb-3 pt-2 pb-2 pl-2 pr-2 rounded-md bg-gray-50 overflow-auto border-gray-200;
		border-width: 1px;
		line-height: 1.4;
		font-size: 0.82rem;
	}
	.linenumber {
		@apply text-gray-600 bg-gray-50 border-gray-200;
		font-size: 0.6rem;
	}
	.linenumbers {
		@apply text-right pr-2;
		width: 1.3rem;
	}
	h3 .codeinline {
		@apply text-base;
	}
	h2 .codeinline {
		@apply text-xl;
	}

	
	/* Tables */
	table {
		@apply table-fixed text-sm text-left text-gray-800 border-l border-r border-gray-200 m-2;

        caption {
            @apply text-lg px-2 py-1 font-bold bg-gray-50 text-gray-700 border border-b-0 border-gray-200;
        }

		thead {
			@apply bg-gray-50 border-b;
            
            tr {
                @apply text-gray-700 text-sm
            }
            tr.subheader {
                @apply text-gray-500 normal-case
            }
            th {
                @apply px-2
            }
            @apply py-1
		}
		tbody {
			td {
				@apply border-b px-2 py-1 align-middle;
			
				.markdown {
					@apply m-0 text-sm;
					width: max-content;
					max-width: 300px;

					code {
						@apply text-xs;
					}

					p {
						@apply mb-0;
					}
					> br:last-child {
						display: none;
					}
				}
			}
		}
	}

	&.sourcefile {
		pre.codeblock {
			@apply border-none -ml-3 -mr-3 p-3 rounded-none;
		}
		.md {
			@apply mb-3 mt-3;
		}
	}
}

/* Admonitions */

.admonition {
	@apply mt-4 mb-4 border-gray-200 shadow-sm text-gray-600 text-sm;
	border-width: 1px;
}

.admonitiontitle {
	@apply text-gray-800 pt-1 pb-1 p-2 bg-gray-100 flex flex-row items-center text-base;
}

.admonitiontitle .icon {
	@apply inline mr-2;
}

.admonitionbody {
	@apply text-gray-600 text-sm p-2;
}

.admonitionbody :last-child {
	@apply mb-0;
}

.admonition.note {
	@apply border-bluegray-300;
}

.admonition.note .admonitiontitle {
	@apply bg-bluegray-200 text-bluegray-600;
}

.admonition.warning {
	@apply border-amber-200;
}

.admonition.warning .admonitiontitle {
	@apply bg-amber-100 text-amber-800;
}
