.codecell {
    @apply mb-4 mt-4 rounded-lg border-gray-200;
    border-width: 1px;

    .codeblock {
        @apply border-l-0 border-r-0 border-t-0 mt-0 mb-0 border-0 m-0 rounded-none;
        background-color: transparent
    }

    .codeinput {
        @apply bg-gray-50 rounded-t-lg;
    }

    .codeoutput {
        @apply text-gray-500 bg-gray-50 rounded-none shadow-inner;
        border-top-width: 1px;
        max-height: 300px;
        overflow-y: auto;
    }
    .codeoutput > .codeblock, .codeoutput > .coderesult {
        line-height: 1.22;
    }
    .coderesult {
        @apply bg-white rounded-t-none rounded-b-lg;
        border-top-width: 1px;
        max-height: 500px;
        overflow-y: auto;
    }
}

.coderesult code {
    @apply bg-white;
}