@font-face {
    font-family: JuliaMono-Regular;
    src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Regular.woff2");
}

body {
    @apply text-base;
}

.viewer {
    @apply m-2 max-w-2xl;
}

.viewer.documentation {
    @apply border-amber-100 border-4 p-2 rounded-xl;
}

.viewer h1 {
    @apply text-xl p-3 bg-amber-50 -m-2 mb-2 pl-4 pr-4 rounded-t-xl align-bottom border-b-4 border-amber-100;
}

h2 {
    @apply text-xl mt-6 text-gray-900 font-header;
}

.viewer .kind {
    @apply text-sm;
}

.textbg {
    @apply text-gray-600;
}

.code.inline {
    font-size: 0.75rem;
    @apply bg-gray-100 p-0.5 rounded-sm;
}

.codeblock {
    @apply mt-3 mb-3 p-1 bg-gray-100 overflow-scroll rounded-lg text-base border-2 border-gray-200;
}

.methods ul {
    @apply m-2;
}

.signature {
    @apply text-gray-900;
}