@import "./styles/markdown.scss";
@import "./styles/interactive.scss";
@import "./styles/pollen.scss";
@import "./styles/static.scss";
body {
    @apply text-base m-0 bg-white font-sans;
    line-height: 1.5;
    top: 0;
    overflow: auto;
}

.viewer {
    @apply bg-gray-50 m-0 border-gray-200 shrink-0 sticky;
    border-left-width: 1px;
    top: 0;
    opacity: 1;

    &:first-child {
        border-left-width: 0px;
    }
    .titlebar {
        @apply p-2 pt-4 m-0 text-base text-gray-600 select-none font-bold;
        opacity: 0;
        transition: opacity 150ms linear;
    }
    &.collapsed .titlebar {
        @apply cursor-pointer;
        opacity: 1;
        transition: opacity 150ms linear;
        z-index: 2;
    }
    &.overlapped + .viewer {
        @apply shadow-xl;
    }
}

/* Document specific */

.documentation {
    h1 .symbolname {
        @apply bg-bluegray-100 text-bluegray-800 p-0.5 rounded-sm;
    }
    .textbg {
        @apply text-gray-600;
    }
    .docheader code {
        @apply text-2xl;
    }
    .methodlist {
        @apply mt-2 mb-2;
        .methodreference {
            @apply mt-0.5 pl-2 pr-2;
            .signature .codeinline {
                @apply text-gray-600 bg-white text-xs;
            }
        }
    }
}

.sourcefile {
    .source {
        @apply -ml-3 -mr-3;
        .comment {
            @apply ml-3 mr-3 p-3 pt-1 pb-1 mt-0 mb-0 bg-white text-gray-500 text-sm;
            .codeinline {
                font-size: 0.7rem;
            }
            h2:first-child,
            h3:first-child {
                @apply mt-2;
            }
            p {
                @apply mb-0;
            }
        }
        .codeblock {
            @apply ml-3 mr-3 pb-1 pt-1 mb-0 mt-0;
        }
    }
}

.document {
    .subtitle {
        @apply text-sm pb-2 text-gray-700 mb-2;
    }
    .subtitle code.inline.code {
        font-size: 0.8rem;
    }
}

/* References */

.reference {
    @apply cursor-pointer bg-bluegray-100 text-bluegray-800 rounded-sm border-bluegray-100;
    border-width: 1px;
    /* Highlight references that are open or hovered over.*/
    &:hover,
    &.opened {
        @apply bg-bluegray-200 border-bluegray-400 text-bluegray-900 rounded-sm;
    }
    /* Inline code already has padding and a background so
    these need to be compensated for */
    .codeinline {
        @apply p-0 pl-0.5 pr-0.5;
        background-color: transparent;
    }
}

.codeblock .reference {
    @apply border-bluegray-200;
    &:hover,
    &.opened {
        @apply border-bluegray-500;
    }
}

.more {
    @apply mt-12 mb-0;
}

/* syntax highlighting */

.CST_STRING,
.CST_TRIPLESTRING {
    @apply text-emerald-600;
}

.CST_IDENTIFIER,
.CST_INTEGER {
    @apply text-gray-800;
}

.CST_OPERATOR {
    @apply text-gray-600;
}

.CST_BRACKET,
.CST_PUNCTUATION {
    @apply text-gray-400;
}

.CST_KEYWORD {
    @apply text-gray-600;
}

/**/
